<div id="payment-form"></div>

<script src="https://cdn.jsdelivr.net/npm/@alma/fragments@1.x/dist/alma-fragments.umd.js"></script>
<script>
    ;(function() {
        var paymentData = {{ payload | json_encode() | raw }};
        {% set mode = 'live' %}
        {% if urlRoot == 'https://api.sandbox.getalma.eu' %}
            {% set mode = 'test' %}
        {% endif %}
        var fragments = new Alma.Fragments("{{ merchantId }}", { mode: "{{ mode }}" });

        fragments.createPaymentForm(paymentData).mount('#payment-form');
    })();
</script>
